body {
  background-color: #EEE;
  font-family: Helvetica, Arial, sans-serif;
}


a {
  text-decoration: none;
  color: red;
  padding: 5px;
}

a:hover {
  background-color: #EEE;
}

h1, h2, h3 {
  margin: 0;
}

#container{
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header {
    background-color: #66ccff;
    color: white;
    text-align: center;
}

#content {
  padding: 10px;
}

nav{
  width:140px;
  float:left;
}

nav ul {
  list-style-type: none;
  padding-left: 5px;
  border-left: 1px solid red;
}

nav ul li{
  padding: 5px;
}

nav .selected {
  font-weight: bold;
  
}

#main {
  width: 600px;
  float: right;
}

footer {
  clear:both;
  padding: 10px;
  background-color: #999;
  color:white;
  text-align: right;
}
